{
	"default-model-name": "llama3:8b-instruct-q4_K_M",
	"default-model-api-url": "http://localhost:11434/v1/",
	"default-model-api-key": "ollama",
	"default-embedding-model-name": "mxbai-embed-large:latest",
	"default-embedding-model-api-key": "ollama",
	"default-embedding-model-url": "http://localhost:11434/v1/",
	"model-config": {
		"llama3": ["llama3:8b-instruct-q4_K_M","http://localhost:11434/v1/", "ollama"],
		"deepseek-small": ["deepseek-r1:latest", "http://localhost:11434/v1/", "ollama"],
		"deepseek-large": ["deepseek-r1:14b", "http://localhost:11434/v1/", "ollama"],
		"openai": ["gpt-4o", "https://api.openai.com/v1", "your openai api key"]
	}
}