{
	"openai-api-key": "{set this to your openai api key}",
	"openai-api-url": "https://api.openai.com/v1",
	"default-model-name": "lmstudio-community/Meta-Llama-3-8B-Instruct-GGUF/Meta-Llama-3-8B-Instruct-Q4_K_M.gguf",
	"default-model-api-key": "lm-studio",
	"default-model-api-url": "http://localhost:1234/v1",
	"default-embedding-model-name": "nomic-embed-text-v1.5-GGUF/nomic-embed-text-v1.5.Q8_0.gguf",
	"default-embedding-model-api-key": "lm-studio",
	"default-embedding-model-url": "http://localhost:1234/v1",
	"pretrained-tokenizer-path": "{un-used.  need to fix bugs related to this}",
	"model-command-config": {"llama3": ["lmstudio-community/Meta-Llama-3.1-8B-Instruct-GGUF/Meta-Llama-3.1-8B-Instruct-Q4_K_M.gguf", "http://localhost:1234/v1", "lm-studio"],
                                 "gemma2": ["bartowski/gemma-2-9b-it-GGUF/gemma-2-9b-it-Q6_K-Q8.gguf", "http://localhost:1234/v1", "lm-studio"],
                                 "meta-llama3.1": ["lmstudio-community/Meta-Llama-3.1-8B-Instruct-GGUF/Meta-Llama-3.1-8B-Instruct-Q4_K_M.gguf", "http://localhost:1234/v1", "lm-studio"],
                                 "llama3.1-storm": ["akjindal53244/Llama-3.1-Storm-8B-GGUF/Llama-3.1-Storm-8B.Q8_0.gguf", "http://localhost:1234/v1", "lm-studio"],
                                 "openai": ["openai", "https://api.openai.com/v1", "{set this to your openai api key}"]
                                 }
}